<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
      <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
 {% load static %}

<footer id="footer" class="footer-1"   style="background-color: rgb(40,53,215);">
<div class="main-footer widgets-dark typo-light mt-3"   style="background-color: rgb(226,224,226);">
<div class="container">
<div class="row">

  <div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget subscribe no-box">
<h5 class="widget-title  text-center">ONG NAJ<span></span></h5>
<p class="text-center">NAJ est une organisation non gouvernementale créé en Mars 2021 sous l'initiative de Madame Ngongo Alima Jeane.<br>Cette initiative est partie du non dévouement des élèves, étudiants, par le fait de ne plus fréquenter les institutions scolaireset universitaires pendant la COVID 19

</p>
</div>
</div>


<div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget no-box">
<h5 class="widget-title">liens<span></span></h5>
<ul class="thumbnail-widget">
<li>
<div class="thumb-content"><a href="http://127.0.0.1:8000/article/1">Notre équipe</a></div>
</li>
<li>
<div class="thumb-content"><a href="http://127.0.0.1:8000/article/2">&nbsp;Activité Principale</a></div>
</li>
    <li>
<div class="thumb-content"><a href="http://127.0.0.1:8000/article/3">&nbsp;Nos Produits</a></div>
</li>
<li>
</ul>
</div>
</div>



      <div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget no-box">
<h5 class="widget-title">Suivez nous<span></span></h5>
            <a href="#"> <i class=""><img class="rounded img-fluid" src="{% static 'img/facebook.png'%}" style="width:10%"> </i> </a>
            <a href="#"> <i class=""> <img class="rounded img-fluid" src="{% static 'img/Instagram.png'%}" style="width:10%"></i> </a>
            <a href="#"> <i class=""> <img class="rounded img-fluid" src="{% static 'img/Twitter.png'%}" style="width:10%"></i> </a>
            <a href="#"> <i class=""> <img class="rounded img-fluid" src="{% static 'img/Youtube.png'%}" style="width:10%"></i> </a>
</div>
</div>
<br>
  <br>


<div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget no-box">
<h5 class="widget-title">Contactez nous<span></span></h5>
            <p>+243824887235 <br> najacademie@outlook.fr </br>
                </p>
  <div class="emailfield">
<input type="text" name="email" value="Email">
<input name="uri" type="hidden" value="arabiantheme">
<input name="loc" type="hidden" value="en_US">
<input class="submitbutton ripplelink" type="submit" value="Subscribe">
</form>
</div>
</div>

</div>
</div>
</div>

<div class="footer-copyright">
    <div class="main-footer widgets-dark typo-light"  >
<div class="container" style="background-color: rgb(40,53,215);">
<div class="row">
<div class="col-md-12 text-center">
<p class="text-white ">© 2023 ONG NAJ BY Mardochée RAMAZANI</p>
    </div>
</div>
</div>
</div>
</div>
</footer>