<nav class="navbar navbar-expand-lg "  class="navbar navbar-expand-lg py-lg-4" >
            <div class="container" style="background-color: rgb(0,53,215);">

        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="http://127.0.0.1:8000" role="button">Accueil</a>
            <div class="dropdown-menu aria-labelledby="cours">
              <a class="dropdown-item" href="http://127.0.0.1:8000/article/1">a</a>
              <a class="dropdown-item" href="http://127.0.0.1:8000/article/ 8">b</a>
              <a class="dropdown-item" href="#">PHP et MySQL</a>
            </div>
          </li>
            <li class="nav-item"><a class="nav-link text-white" href="http://127.0.0.1:8000/article/1">Notre équipe</a></li>

              <li class="nav-item"><a class="nav-link text-white" href="http://127.0.0.1:8000/article/2">Activités Principales</a></li>
    <li class="nav-item"><a class="nav-link text-white" href="http://127.0.0.1:8000/article/3">Produits</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="http://127.0.0.1:8000/article/8">Evénèments</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="http://127.0.0.1:8000/article/38">Contacts</a></li>
    <li class="nav-item"><a class="nav-link text-white" href="#">Dons</a></li>
    <li class="nav-item "><a class="nav-link text-white" href="#">Projet à venir</a></li>
    <li class="nav-item"><a class="nav-link text-white" href="#">A propos</a></li>
        </ul>
        <form class="form-inline"  action="{% url 'search' %}">
          <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search"  name="article">
          <div class="card-footer "><button class="btn btn-outline-info my-2 my-sm-0 bg-dark" type="submit">Recherche</button></div>
        </form>
            </div>
        </>
      </nav>