
{% load static %}



      <div class="row">
          <div class="col-md-12 ">

             <div class="bg-image" style=" background-image: url({% static "img/mnaj.jpg"%}); margin-bottom:20px;margin-top:20px; background-position: center; background-size: 100% ">
            <h1 class="text-center "><a href=""> Bienvenue au site de l'ONG NAJ </a></h1>
            <p class="col-md-12 text-center "><a class="btn btn-primary" href="">  NAJ est une organisation non gouvernementale créé en Mars 2021 sous l'initiative de Madame Ngongo Alima Jeane. </a></p>

                    </div>
                    </div>
                </div>

