{% extends 'base.html'  %}
{% load static  %}

{% block content  %}
<div class="container">
    <h2>Liste de recherche</h2>
    <div class="row">
    {% for article in liste_article %}
        <div  class="col-12 col-md-6 col-lg-3 col-xl-3  ">
          <div class="card mb-2 p-1">
            {% if article.image != "http://default"  %}
            <a href="{% url 'detail' article.id %}">
                <img class="card-img-top"  src="{{ article.image.url }}"  alt="card image cap"  style="height: 200px"/>
            </a>
              {% else  %}
                <a href="{% url 'detail' article.id %}">
                <img class="card-img-top"  src="{% static 'img/A1.jpg' %}"  alt="card image cap"  style="height: 200px"/>
            </a>
            {% endif  %}

            <div class="card-body" style="height: 250px">
               <h5 class="card-title"><a href="{% url 'detail' article.id %}">{{ article.title}}</a></h5>
                <p class="card-text">{{ article.desc  | truncatewords:8 }}</p>
                <p class="card-text"> Publié il y a {{ article.created_at | timesince}}</p>
                <a href="{% url 'detail' article.id %}" class="btn btn-primary">Lire la suite</a>
            </div>
          </div>
        </div>

    {% endfor %}
    </div>

</div>
{% endblock  %}