   {% load static %}

<section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Nos différents services</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href="http://127.0.0.1:8000/article/1"> <img class="card-img-top"  src="{% static 'img/IMG-20230115-WA0030.jpg'%}" alt="..."  style="height: 200px"/></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder" > <a href="http://127.0.0.1:8000/article/1">Notre équipe</a></h5>
                                    <!-- Product price-->
                                    Etudiante en medécine
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="http://127.0.0.1:8000/article/1">Lire plus</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <!-- Product image-->
                            <a href="http://127.0.0.1:8000/article/2">
                            <img class="card-img-top" src="{% static 'img/IMG-20230115-WA0037.jpg'%}" alt="..." style="height: 200px"/>
                            </a>
                                <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <a href="http://127.0.0.1:8000/article/2">
                                    <h 5 class="fw-bolder">Activité Principale</h5>
                                    </a>

                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through"></span>
                                    Détail
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="http://127.0.0.1:8000/article/2">Lire plus </a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->

                            <a href="http://127.0.0.1:8000/article/3">
                            <img class="card-img-top" src="{% static 'img/IMG-20230115-WA0040.jpg'%}" alt="..." style="height: 200px" />
                            </a>
                                <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <a href="http://127.0.0.1:8000/article/3">
                                    <h5 class="fw-bolder">Produits</h5>
                                        </a>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through"></span>
                                    Détails
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="http://127.0.0.1:8000/article/3">Lire plus</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <a href="http://127.0.0.1:8000/article/8">
                            <img class="card-img-top" src="{% static 'img/IMG-20230115-WA0040.jpg'%}" alt="..." style="height: 200px" />
                            </a>
                                <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <a href="http://127.0.0.1:8000/article/8">
                                    <h5 class="fw-bolder">Evenements</h5>
                                        </a>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    Détail
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="http://127.0.0.1:8000/article/8">Lire plus</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>